*{
    padding: 0;
    margin: 0;
}
.wrapper {
    width:1400px;
    height: 550px;
    background-color:gray;
    display: flex;
    padding: 10px 20px;
    margin: 0 auto;
    padding: 0 auto;
    
}
.col-1{
    background-color:white;
    width:calc((1/3)*100%);
    height: 100%;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
}
.image{
    width: 100%;
    height: 320px;
    position: absolute;
    
}
.image img{
    border-radius: 4px 4px 0 0;
}
.content{
    width: 97%;
    position: absolute;
    bottom:100px;
    margin-left: 15px;
    color:black;
   
}
.content h3{
   
    font-size: 24px;
}
.button{ 
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30px;
}
.button button {
    height: 30px;
    width: 97%;
    
}
.col-1:nth-child(2){
    margin-right: 30px;
    margin-left: 30px;

}